body {
    font-family: Arial;
    margin: 0;
    background-color: #C2FFF9;
}

.navbar {
    margin: 0 0 2em 0;
    background-color: #009DAE;
    overflow: hidden;
}

.navbar h1 {
    margin: 0 0 0 0.5em;
    padding: 0.5em;
    color: #FFFFFF;
}

.container {
    margin: 0 0 0 2em;
}

.form-input {
    margin-top: 8px;
}

button {
    border: 0 solid;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #009DAE;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
}

input {
    padding: 4px;
}

#density {
    margin-left: 10px;
}

#velocity {
    margin-left: 8px;
}

#length {
    margin-left: 15px;
}

#viscos {
    margin-left: 6px;
}

#reynolds-result {
    margin-left: 6px;
}

.result {
    display: none;
    margin-top: 8px;
}

.error {
    display: none;
    color: #FE0000;
}

.loading {
    display: none;
    margin-top: 8px;
}
